{% load static %}
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="sidebar-item">
                    <a
                        class="sidebar-link waves-effect waves-dark"
                        href="{% url 'home' %}"
                        aria-expanded="false">
                        <i class="mdi mdi-view-dashboard"></i>
                        <span class="hide-menu">Home</span>
                    </a>
                </li>
                {% if subjects.count > 0 %}
                <li class="sidebar-item">
                    <a
                        class="sidebar-link has-arrow waves-effect waves-dark"
                        href="javascript:void(0)"
                        aria-expanded="false">
                        <i class="mdi mdi-book-open"></i>
                        <span class="hide-menu">Subjects</span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        {% for i in subjects %}
                        <li class="sidebar-item">
                            <a
                                class="sidebar-link waves-effect waves-dark"
                                href="{% url 'subject' subject=i.name %}"
                                aria-expanded="false">
                                <i class="mdi mdi-book-open"></i>
                                <span class="hide-menu">{{ i.name }}</span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</aside>
